{% extends 'resume/base.html' %}
{% block title %}<title>Services</title>{% endblock title %}
{% block content %}


    <div class="mt-5 container">
        <h1 class="text-warning mb-5 border-bottom">Services</h1>

        <div class="row text-justify text-white mb-5">
            <div class="col-sm-4">
                <i class="fa-solid fa-magnifying-glass fa-2x mb-3 i-color"></i>
                <h3>SEO</h3>
                <p class="ss-color">
                    SEO (Search Engine Optimization) is the strategic practice of enhancing a website's visibility on
                    search engines, such as Google, to attract organic traffic. With 20 letters, SEO encapsulates the
                    essence of optimizing online content for better search engine rankings. Effective SEO involves various
                    techniques, including keyword research, on-page optimization, backlink building, and content creation.
                    A well-executed SEO strategy not only boosts a website's search engine rankings but also improves user
                    experience, making it a crucial aspect of online marketing.
                </p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
                <h3>Graphics Design</h3>
                <p class="ss-color">
                    SEO (Search Engine Optimization) is the strategic practice of enhancing a website's visibility on
                    search engines, such as Google, to attract organic traffic. With 20 letters, SEO encapsulates the
                    essence of optimizing online content for better search engine rankings. Effective SEO involves various
                    techniques, including keyword research, on-page optimization, backlink building, and content creation.
                    A well-executed SEO strategy not only boosts a website's search engine rankings but also improves user
                    experience, making it a crucial aspect of online marketing.
                </p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
                <h3>Web Design</h3>
                <p class="ss-color">
                    SEO (Search Engine Optimization) is the strategic practice of enhancing a website's visibility on
                    search engines, such as Google, to attract organic traffic. With 20 letters, SEO encapsulates the
                    essence of optimizing online content for better search engine rankings. Effective SEO involves various
                    techniques, including keyword research, on-page optimization, backlink building, and content creation.
                    A well-executed SEO strategy not only boosts a website's search engine rankings but also improves user
                    experience, making it a crucial aspect of online marketing.
                </p>
            </div>
        </div>

         <div class="row text-justify text-white mb-5">
            <div class="col-sm-4">
                <i class="fab fa-android fa-2x mb-3 i-color"></i>
                <h3 >Android</h3>
                <p class="ss-color">
                    SEO (Search Engine Optimization) is the strategic practice of enhancing a website's visibility on
                    search engines, such as Google, to attract organic traffic. With 20 letters, SEO encapsulates the
                    essence of optimizing online content for better search engine rankings. Effective SEO involves various
                    techniques, including keyword research, on-page optimization, backlink building, and content creation.
                    A well-executed SEO strategy not only boosts a website's search engine rankings but also improves user
                    experience, making it a crucial aspect of online marketing.
                </p>
            </div>

            <div class="col-sm-4">
                <i class="fab fa-apple fa-2x mb-3 i-color"></i>
                <h3>IOS</h3>
                <p class="ss-color">
                    SEO (Search Engine Optimization) is the strategic practice of enhancing a website's visibility on
                    search engines, such as Google, to attract organic traffic. With 20 letters, SEO encapsulates the
                    essence of optimizing online content for better search engine rankings. Effective SEO involves various
                    techniques, including keyword research, on-page optimization, backlink building, and content creation.
                    A well-executed SEO strategy not only boosts a website's search engine rankings but also improves user
                    experience, making it a crucial aspect of online marketing.
                </p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-ad fa-2x mb-3 i-color"></i>
                <h3>Advertising</h3>
                <p class="ss-color">
                    SEO (Search Engine Optimization) is the strategic practice of enhancing a website's visibility on
                    search engines, such as Google, to attract organic traffic. With 20 letters, SEO encapsulates the
                    essence of optimizing online content for better search engine rankings. Effective SEO involves various
                    techniques, including keyword research, on-page optimization, backlink building, and content creation.
                    A well-executed SEO strategy not only boosts a website's search engine rankings but also improves user
                    experience, making it a crucial aspect of online marketing.
                </p>
            </div>
        </div>

         <div class="row text-justify text-white mb-5">
            <div class="col-sm-4">
                <i class="fa-solid fa-pencil fa-2x mb-3 i-color"></i>
                <h3>Logo Design</h3>
                <p class="ss-color">
                    SEO (Search Engine Optimization) is the strategic practice of enhancing a website's visibility on
                    search engines, such as Google, to attract organic traffic. With 20 letters, SEO encapsulates the
                    essence of optimizing online content for better search engine rankings. Effective SEO involves various
                    techniques, including keyword research, on-page optimization, backlink building, and content creation.
                    A well-executed SEO strategy not only boosts a website's search engine rankings but also improves user
                    experience, making it a crucial aspect of online marketing.
                </p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
                <h3>Hosting</h3>
                <p class="ss-color">
                    SEO (Search Engine Optimization) is the strategic practice of enhancing a website's visibility on
                    search engines, such as Google, to attract organic traffic. With 20 letters, SEO encapsulates the
                    essence of optimizing online content for better search engine rankings. Effective SEO involves various
                    techniques, including keyword research, on-page optimization, backlink building, and content creation.
                    A well-executed SEO strategy not only boosts a website's search engine rankings but also improves user
                    experience, making it a crucial aspect of online marketing.
                </p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
                <h3>Support</h3>
                <p class="ss-color">
                    SEO (Search Engine Optimization) is the strategic practice of enhancing a website's visibility on
                    search engines, such as Google, to attract organic traffic. With 20 letters, SEO encapsulates the
                    essence of optimizing online content for better search engine rankings. Effective SEO involves various
                    techniques, including keyword research, on-page optimization, backlink building, and content creation.
                    A well-executed SEO strategy not only boosts a website's search engine rankings but also improves user
                    experience, making it a crucial aspect of online marketing.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}